<div class="modal-header">
    <button type='button' class='close' data-ng-click="cancel();"><i class="fa fa-close"></i></button>
    <h4 class="modal-title">硬件发布信息</h4>
</div>
<div class="modal-body">
    <form action="" class="form-horizontal">
        <!--基本信息-->
        <fieldset>
            <legend>
                <h4>基本信息</h4>
            </legend>
            <div class="form-group">
                <label class="col-sm-2 control-label">硬件编码：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">000001112022</p>
                </div>
                <label class="col-sm-2 control-label">硬件平台：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">H3P LY-01</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">对外编码：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">HM65-10</p>
                </div>
                <label class="col-sm-2 control-label">厂商信息：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">北京乐研科技xx</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">发布人：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">张立科</p>
                </div>
                <label class="col-sm-2 control-label">发布日期：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">2019-01-02</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">建档日期：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">2019-01-04</p>
                </div>
                <label class="col-sm-2 control-label">预期用途：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">I型一体化</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注：</label>

                <div class="col-sm-10">
                    <p class="form-control-static">优秀的，棒棒的</p>
                </div>

            </div>
        </fieldset>
        <!--详细信息-->
        <fieldset>
            <legend>
                <h4>详细信息</h4>
            </legend>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <label class="checkbox-inline">
                        <input type="radio" name="gendar" disabled value="单版">&nbsp;单版
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="gendar" disabled checked value="双版">&nbsp;双版
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">芯片组：</label>

                <div class="col-sm-4">
                    <p class="form-control-static"></p>
                </div>
                <label class="col-sm-2 control-label">芯片组：</label>

                <div class="col-sm-4">
                    <p class="form-control-static"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">CPU：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">i5</p>
                </div>
                <label class="col-sm-2 control-label">CPU：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">i5</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">内存：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">5G</p>
                </div>
                <label class="col-sm-2 control-label">内存：</label>

                <div class="col-sm-4">
                    <p class="form-control-static">5G</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">电源：</label>

                <div class="col-sm-4">
                    <p class="form-control-static"></p>
                </div>
                <label class="col-sm-2 control-label">电源：</label>

                <div class="col-sm-4">
                    <p class="form-control-static"></p>
                </div>
            </div>
        </fieldset>
        <!--修改记录-->
        <fieldset>
            <legend>
                <h4>修改记录</h4>
            </legend>
            <table id="editRecordList" data-mobile-responsive="true"></table>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-white" data-ng-click="cancel()"><i class="fa fa-close"></i>&nbsp;关闭</button>
</div>

