<div class="wrapper wrapper-content" data-ng-controller="licenseMakeListCtrl">
    <div class=" float-e-margins" id="hardwareProchaseToolbar" role="group">
        <button type="button" class="btn btn-sm btn-success" ng-click="addOreEditlicenseList()">
            <i class="fa fa-plus"></i>&nbsp;新增
        </button>
        <button type="button" class="btn btn-sm btn-success" ng-click="openlicenseMake()">
            <i class="fa fa-gear"></i>&nbsp;配置License
        </button>
        <button type="button" class="btn btn-sm btn-success" ng-click="leadOutlicense()">
            <i class="fa fa-sign-out"></i>&nbsp;批量导出License
        </button>
        <button type="button" class="btn btn-sm btn-white" ng-click="deleteAuthorizationCode()">
            <i class="fa fa-trash"></i>&nbsp;删除
        </button>

    </div>
    <!--合同订单签订列表-->
    <table id="licenseMakeList"  data-mobile-responsive="true"></table>
</div>
<!--
<iframe src="http://192.168.9.224/UI/html/index.html"></iframe>-->
