<div class="wrapper wrapper-content" ng-controller="hardwareProchaseListCtrl">
    <div class="row row-lg">
        <div class="col-sm-12">
            <div class="example-wrap">
                <div class="example">
                    <div class="btn-group hidden-xs" id="hardwareProchaseToolbar" role="group">
                        <button type="button" class="btn btn-sm btn-success" ng-click="addOrEditHardwareProchase()">
                            <i class="fa fa-plus"></i>&nbsp;新增
                        </button>
                        <button type="button" class="btn btn-sm btn-white" ng-click="deleHardwareProchase()">
                            <i class="fa fa-trash"></i>&nbsp;删除
                        </button>

                    </div>
                    <!--合同订单签订列表-->
                    <table id="hardwareProchaseList"  data-mobile-responsive="true"></table>


                </div>
            </div>

        </div>
    </div>
</div>