<div class="wrapper wrapper-content" data-ng-controller="softwareListCtrl">
    <div class="btn-group " id="softwareToolbar" role="group">
        <button type="button" class="btn btn-sm btn-success" data-ng-click="addOrEditSoftwareRelease()">
            <i class="fa fa-plus"></i>&nbsp;新增
        </button>
        <button type="button" class="btn btn-sm btn-white" data-ng-click="delSoftwareList()">
            <i class="fa fa-trash"></i>&nbsp;删除
        </button>

    </div>
    <!--软件信息列表-->
    <table id="softwareList"  data-mobile-responsive="true"></table>
</div>